.text-feature {

	@include medium {
		margin: 0 0 0 $gutter*5;

		.heading--embellished {
			margin-left: $gutter*-5;
		}
	}
}

.text-feature__banner {
	margin: 0 0 $gutter*3;
}

.text-feature__intro {
	@extend .intro-paragraph;
}