/* MIXTURE */
.mixture-nav {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  list-style: none;
}
.mixture-nav > li {
  float: left;
}
.mixture-nav > li > a {
  background-color: #2F2F2F;
  color: #fff;
  border-left: 1px solid #fff;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
}
.mixture-nav > li:first-child > a {
  border-left: none;
}
.mixture-nav > li.current > a {
  background-color: #4F4F4F;
}
