$DEBUG: true;

$small_max: 45em;
$medium_max: 75em;
$large_max: 100em;

$medium_min: $small_max + 0.01;
$large_min: $medium_max + 0.01;
$xlarge_min: $large_max + 0.01;


//COLORS
$element-primary: #a04342;
$element-secondary: #828278;

$focus-primary: #bada55;
$focus-secondary: salmon;
$focus-primary-emphasized: darken($focus-primary,5%);
$focus-secondary-emphasized: darken($focus-secondary,5%);

$text-default: #444;
$text-discreet: #878787;
$text-focus: $focus-secondary;

$text-inverted: #fefefe;

// GRID

$gutter: 16px;