{% layout "tdcss" %}

{% block content %}

<!-- # Buttons -->

<!-- : Button, standard -->
<button class="button">Button text</button>

<!-- : Button, strong -->
<button class="button--strong">Button text</button>

<!-- : Button, focus -->
<button class="button--focus">Button text</button>

<!-- : Button, small -->
<button class="button--small">Button text</button>

<!-- : Button, huge -->
<button class="button--huge">Button text</button>


<!-- : Button, combined, focus and huge -->
<button class="button--focus button--huge">Button text</button>



<!-- # Type styles -->
<!-- & Lists type setting with special font. Full font stack included – remember to check your load flow. -->

<!-- : Stylised types, class -->

<div>
	<h1 class="heading--embellished">This is an embellished heading</h1>
</div>


<!-- : Standard types, tag -->

<div>
	<h1>This is a standard header - h1</h1>
	<h2>This is a standard header - h2</h2>
	<h3>This is a standard header - h3</h3>
	<h4>This is a standard header - h4</h4>
	<h5>This is a standard header - h5</h5>
	<p>This is a basic paragraph with some kitten ipsum. Cat rip birdwatching kittens meet sleep in the sink cute cat best Baxter shenanigans catnip. Kitty hilarious meet sleeps, fluffy sits craig ambush curiosity sister siamese rescue fluffy. Caturday, ham success hiding cat craig royal sniff knock over the lamp. Flying she awesomeness kitten little fluffy derp kittens baby.</p>
	<blockquote>
		This is a standard blockquote: "Sandi thinks hiss Zooey reddit kitten aggressive cat, kitten 9 finally cute cute best"
		<cite>- Cite Source, Location</cite>
	</blockquote>
</div>


<!-- : Standard sizes -->

<div>
	<div class="zeta">This is a standard text in size zeta</div>
	<div class="epsilon">This is a standard text in size epsilon</div>
	<div class="delta">This is a standard text in size delta</div>
	<div class="gamma">This is a standard text in size gamma</div>
	<div class="beta">This is a standard text in size beta</div>
	<div class="alpha">This is a standard text in size alpha</div>
	<div class="mega">This is a standard text in size mega</div>
</div>








<!-- # Notifications -->
<!-- & Warnings, disclaimers and other system messages -->


<!-- : Disclaimer -->
<p class="disclaimer">This is a standard disclaimer</p>

<!-- : Confirmation -->
<p class="confirmation">This is a standard confirmation</p>

<!-- : Warning -->
<p class="warning">This is a standard warning</p>

{% endblock %}